/* METHODOLOGY BEM */

/* VARIABLES CSS */
:root {
  --primary-color: #0065fc;
  --secondary-color: #deebff;
  --background-color: #f2f2f2;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --card-radius: 16px;
  --filter-btn-radius: 25px;
  --searchbar-radius: 12px;
  --icon-radius: 50%;
  --icon-size: 1.2em;
  --star-size: 0.7em;
  --h1-size: 1.4em;
  --h2-size: 1.2em;
  --p-size: 1em;
  --a-size: 1em;
  --btn-size: 1em;
  --card-title-size: 1em;
  --section-padding: 20px;
  --card-xl-title-padding: 15px;
  --star-margin: 1px;

  --h1-size-tablet: 1em;
  --h2-size-tablet: 0.9em;
  --p-size-tablet: 0.8em;
  --a-size-tablet: 0.8em;
  --btn-size-tablet: 0.8em;
  --icon-size-tablet: 0.8em;
  --star-size-tablet: 0.5em;
  --btn-height-tablet: 36px;
  --section-radius-tablet: 15px;
  --card-title-size-tablet: 0.7em;
  --card-p-size-tablet: 0.6em;
  --section-padding-tablet: 5px 30px;
}

/* ========================================================================== 
SECTION
========================================================================== */
section:nth-of-type(1),
section:nth-of-type(2) section,
section:nth-of-type(3),
.footer {
  padding: var(--section-padding)
}

section:nth-of-type(2) section:nth-child(1) {
  background-color: var(--background-color, lightgrey);
}

/* ========================================================================== 
LAYOUT / MARGIN / PADDING / BACKGROUND-COLOR
========================================================================== */
.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.f-column {
  display: flex;
  flex-direction: column;
}

.f-wrap {
  display: flex;
  flex-wrap: wrap;
}

.f-align-center {
  display: flex;
  align-items: center;
}

.m-t-b-20 {
  margin: 20px 0;
}

.m-t-25 {
  margin-top: 25px;
}

/* ========================================================================== 
HEADER
========================================================================== */
.header__logo {
  padding: 20px;
}

.header__logo img {
  width: 110px;
}

/* ========================================================================== 
NAV
========================================================================== */
.nav {
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.nav__btn {
  width: 100%;
  border: none;
  background-color: inherit;
  text-decoration: none;
  color: var(--primary-color, blue);
  font-weight: bold;
  margin-top: 40px;
  text-align: end;
  padding-right: 20px;
  font-size: var(--btn-size);
}

.nav__list {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

.nav__elem {
  width: 50%;
  display: flex;
  justify-content: center;
}

.nav__link {
  text-decoration: none;
  color: black;
  width: 100%;
  font-size: var(--a-size);
  display: flex;
  justify-content: center;
  padding: 10px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
}

.nav__link--active {
  color: var(--primary-color, blue);
  border-bottom: 3px solid var(--primary-color, blue);
}

/* ========================================================================== 
INTRODUCTION
========================================================================== */
.introduction {
  margin-bottom: 10px;
}

.introduction__title {
  margin: 0;
  font-size: var(--h1-size);
}

.introduction__text {
  font-size: var(--p-size);
}

/* ========================================================================== 
SEARCHBAR
========================================================================== */
.searchbar {
  display: flex;
  justify-content: space-between;
  height: 50px;
  border: 1px solid var(--background-color, lightgrey);
  border-radius: var(--searchbar-radius);
}

.searchbar__btn {
  background-color: var(--background-color, lightgrey);
  width: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.searchbar__btn--grey {
  background-color: var(--background-color, lightgrey);
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

.searchbar__btn--blue {
  background-color: var(--primary-color, blue);
  color: white;
  border-radius: inherit;
}

.searchbar__icon {
  font-size: var(--icon-size);
}

.searchbar__input {
  border: none;
  width: 62%;
  outline: none;
  font-size: var(--h2-size);
  padding: 0 10px;
}

/* ========================================================================== 
FILTER
========================================================================== */
.filter__btn {
  height: 50px;
  background: inherit;
  border: 2px solid var(--background-color, lightgrey);
  border-radius: var(--filter-btn-radius);
  border-left-style: none;
  display: flex;
  align-items: center;
  margin: 0px 10px 10px 0px;
  padding: 0;
}

.filter__btn:hover {
  background-color: var(--background-color);
}

.filter__icon {
  background-color: var(--secondary-color, lightblue);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: var(--icon-radius);
  font-size: var(--icon-size);
  color: var(--primary-color, blue);
}

.filter__text {
  padding: 10px;
  font-size: var(--p-size);
}

/* ========================================================================== 
INFORMATION
========================================================================== */
.information {
  display: flex;
  margin: 20px 0;
}

.information__icon {
  width: 20px;
  height: 20px;
  border: 1px solid var(--secondary-color, lightblue);
  border-radius: var(--icon-radius);
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  font-size: 0.6em;
  color: var(--primary-color, blue);
}

.information__text {
  margin: 0;
  font-size: var(--p-size);
}

/* ========================================================================== 
CATEGORY
========================================================================== */
.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category__title {
  font-size: var(--h1-size);
}

.category__icon {
  font-size: var(--icon-size);
  color: black"

}

/* ========================================================================== 
CARD-SM-IMG
========================================================================== */
.card-sm-img {
  background-color: white;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 var(--shadow-color);
  transition: 0.3s;
  border-radius: var(--card-radius);
  height: 155px;
  padding: 6px;
  margin: 10px 0;
}

.card-sm-img:hover {
  box-shadow: 0 8px 16px 0 var(--shadow-color);
}

.card-sm-img__link {
  color: inherit;
  text-decoration: none;
  height: 100%;
  border-radius: inherit;
}

.card-sm-img__content {
  display: flex;
  height: 100%;
  border-radius: inherit;
}

.card-sm-img__picture-container {
  width: 45%;
  border-radius: inherit;
}

.card-sm-img__picture {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

.card-sm-img__text {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 14px;
}

.card-sm-img__title {
  font-size: var(--card-title-size);
}

.card-sm-img__rating {
  height: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 5px;
}

.card-sm-img__star {
  font-size: var(--star-size);
  margin: var(--star-margin);
  color: var(--background-color, lightgrey);
}

.card-sm-img__star--active {
  color: var(--primary-color, blue);
}

.card-sm-img__paragraph {
  margin: 0;
  font-size: var(--p-size);
}

/* ========================================================================== 
CARD-LG-IMG
========================================================================== */
.card-lg-img {
  height: 190px;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 var(--shadow-color);
  transition: 0.3s;
  border-radius: var(--card-radius);
  padding: 5px;
  margin: 20px 0;
}

.card-lg-img:hover {
  box-shadow: 0 8px 16px 0 var(--shadow-color);
}

.card-lg-img__link {
  color: inherit;
  text-decoration: none;
  border-radius: inherit;
}

.card-lg-img__content {
  border-radius: inherit;
}

.card-lg-img__picture {
  object-fit: cover;
  height: 115px;
  width: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.card-lg-img__text-content {
  height: 75px;
  padding: 2px 15px;
  justify-content: space-around;
  align-items: flex-start;
}

.card-lg-img__title {
  font-size: var(--card-title-size);
  margin: 1px;
}

.card-lg-img__paragraph {
  margin: 1px;
  font-size: var(--p-size);
}

.card-lg-img__rating {
  display: flex;
  align-items: flex-end;
  margin-bottom: 5px;
}

.card-lg-img__star {
  font-size: var(--star-size);
  margin: var(--star-margin);
  color: var(--background-color, lightgrey);
}

.card-lg-img__star--active {
  color: var(--primary-color, blue);
}

.card-lg-img__paragraph {
  margin: 0;
}

.btn-scroll {
  font-size: 1.2em;
  font-weight: bold;
  background-color: inherit;
  border: none;
  padding: 0;
  font-size: var(--btn-size);
  margin-top: 15px;
}

/* ========================================================================== 
CARD-XL-IMG
========================================================================== */
.card-xl-img {
  height: 180px;
  margin: 12px 0;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 var(--shadow-color);
  border-radius: var(--card-radius);
  transition: 0.3s;
}

.card-xl-img:hover {
  box-shadow: 0 8px 16px 0 var(--shadow-color);
}

.card-xl-img__link {
  color: inherit;
  text-decoration: none;
  border-radius: inherit;
}

.card-xl-img__content {
  height: 100%;
  border-radius: inherit;
}

.card-xl-img__picture-container {
  height: 125px;
  border-radius: inherit;
}

.card-xl-img__picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.card-xl-img__text-container {
  height: 55px;
}

.card-xl-img__title {
  font-size: var(--card-title-size);
  padding-left: var(--card-xl-title-padding);
}

/* ========================================================================== 
FOOTER 
========================================================================== */
.footer {
  background-color: var(--background-color, lightgrey);
}

.footer__column-1,
.footer__column-2,
.footer__column-3 {
  margin: 10px 0;
}

.footer__title {
  font-size: var(--h2-size);
}

.footer__list {
  padding: 0;
  margin-top: 22px;
}

.footer__elem {
  list-style-type: none;
  text-decoration: none;
  margin: 12px 0;
}

.footer__link {
  text-decoration: none;
  color: black;
  font-size: var(--a-size);
}

/* ==========================================================================
MEDIA QUERIES TABLET
========================================================================== */
@media only screen and (min-width: 768px) {

  /* ==========================================================================
SECTION - MEDIA QUERIES TABLET
========================================================================== */
  section:nth-of-type(1),
  section:nth-of-type(2),
  section:nth-of-type(3),
  .footer {
    padding: var(--section-padding-tablet);
  }

  section:nth-of-type(2) section {
    padding: var(--section-padding);
  }

  section:nth-of-type(2) {
    display: flex;
    flex-direction: row-reverse;
  }

  section:nth-of-type(2) section:first-child {
    width: 35%;
    border-radius: var(--section-radius-tablet);
    display: flex;
    flex-direction: column;
  }

  section:nth-of-type(2) section:last-child {
    background-color: var(--background-color, lightgrey);
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    border-radius: var(--section-radius-tablet);
    margin-right: 22px;
  }

  section:nth-of-type(3) {
    margin-top: 20px;
  }

  /* ========================================================================== 
HEADER & NAV - MEDIA QUERIES TABLET
========================================================================== */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--section-padding-tablet);
  }

  .header__logo {
    position: relative;
    padding: 0;
  }

  .nav {
    display: flex;
  }

  .nav__btn {
    width: auto;
    margin: 0;
    font-size: var(--btn-size-tablet);
  }

  .nav__link {
    border-bottom: none;
    padding: 20px;
    font-size: var(--a-size-tablet);
  }

  .nav__link--active {
    border-top: 2px var(--primary-color, blue) solid;
  }

  /* ========================================================================== 
INTRODUCTION & SEARCHBAR & FILTER & INFORMATION - MEDIA QUERIES TABLET
========================================================================== */
  .introduction__title {
    font-size: var(--h1-size-tablet)
  }

  .introduction__text {
    font-size: var(--p-size-tablet);
  }

  .searchbar {
    height: var(--btn-height-tablet);
    width: 42%;
  }

  .searchbar__icon {
    font-size: var(--icon-size-tablet);
  }

  .searchbar__input {
    font-size: var(--p-size-tablet);
  }

  .searchbar__btn--grey {
    width: 52px;
  }

  .searchbar__btn--blue {
    width: 90px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .searchbar__btn--blue::before {
    font-size: var(--p-size-tablet);
    content: "Rechercher";
  }

  .fa-search:nth-child(1) {
    display: none;
  }

  .filter {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  .filter__title {
    margin: 0 15px 0 0;
    font-size: var(--h2-size-tablet);
  }

  .filter__btn {
    margin-bottom: 0;
    height: var(--btn-height-tablet);
  }

  .filter__icon {
    height: inherit;
    width: 36px;
    border-radius: inherit;
    font-size: var(--icon-size-tablet);
  }

  .filter__text {
    font-size: var(--p-size-tablet);
  }

  .information {
    align-items: center;
  }

  .information__text {
    font-size: var(--p-size-tablet);
  }

  /* ========================================================================== 
CATEGORY - MEDIA QUERIES TABLET
========================================================================== */
  .category {
    width: 100%;
    margin: 4px 0px;
  }

  .category__title {
    font-size: var(--h1-size-tablet);
    margin: 0 0 5px 0;
  }

  .category__icon {
    font-size: var(--icon-size-tablet);
  }

  /* ========================================================================== 
CARD-SM-IMG - MEDIA QUERIES TABLET
========================================================================== */
  .card-sm-img {
    height: 95px;
    padding: 2px;
  }

  .card-sm-img__title {
    font-size: var(--card-title-size-tablet);
  }

  .card-sm-img__paragraph {
    font-size: var(--card-p-size-tablet);
  }

  .card-sm-img__star {
    font-size: var(--star-size-tablet);
  }

  /* ========================================================================== 
CARD-LG-IMG - MEDIA QUERIES TABLET
========================================================================== */
  .cards-lg-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card-lg-img {
    height: 135px;
    padding: 2px;
    margin: 12px 0;
    width: 46%;
  }

  .card-lg-img__picture {
    height: 85px;
  }

  .card-lg-img__text-content {
    height: 50px;
    padding: 0 10px;
  }

  .card-lg-img__title {
    font-size: var(--card-title-size-tablet);
  }

  .card-lg-img__paragraph {
    font-size: var(--card-p-size-tablet);
  }

  .card-lg-img__star {
    font-size: var(--star-size-tablet);
  }

  .btn-scroll {
    font-size: var(--btn-size-tablet);
  }

  /* ========================================================================== 
CARD-XL-IMG - MEDIA QUERIES TABLET
========================================================================== */

  .cards-xl-container {
    height: 260px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card-xl-img {
    border-radius: 12px;
    width: 23%;
    height: 45%;
    margin: 6px;
  }

  .card-xl-img:nth-child(3n+1) {
    height: 100%;
  }

  .card-xl-img__picture-container {
    height: calc(100% - 35px)
  }

  .card-xl-img__text-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 32px;
    padding-left: 10px;
    margin-top: 0;
  }

  .card-xl-img__title {
    font-size: var(--card-title-size-tablet);
    padding-left: 0;
  }

  /* ========================================================================== 
FOOTER - MEDIA QUERIES TABLET
========================================================================== */
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__column-1,
  .footer__column-2,
  .footer__column-3 {
    width: 30%;
  }

  .footer__title {
    font-size: var(--card-title-size-tablet);
  }

  .footer__link {
    font-size: var(--card-p-size-tablet);
  }

  .footer__list {
    margin-top: 0;
  }

  .footer__elem {
    margin: 0;
  }

}

/* ========================================================================== 
MEDIA QUERIES DESKTOP
========================================================================== */
@media only screen and (min-width: 1140px) {

  /* ========================================================================== 
CARD-SM-IMG & CARD-LG-IMG & CARD-XL-IMG - MEDIA QUERIES DESKTOP
========================================================================== */
  .card-sm-img {
    height: 120px;
  }

  .cards-lg-container {
    width: 100%;
  }

  .card-lg-img {
    width: 30%;
    height: 170px;
  }

  .card-lg-img__picture {
    height: 108px;
  }

  .card-lg-img__text-content {
    height: 62px;
  }

  .cards-xl-container {
    height: 320px;
  }

  .card-xl-img:nth-child(2) {
    height: 54%;
  }

  .card-xl-img:nth-child(3) {
    height: 36%;
  }

  .card-xl-img:nth-child(5),
  .card-xl-img:nth-child(6) {
    margin-right: 0;
  }
}

/* ========================================================================== 
MEDIA QUERIES EXTRA LARGE DESKTOP
========================================================================== */
@media only screen and (min-width: 1500px) {
  body {
    padding: 0 250px;
  }

  .footer {
    margin-left: -250px;
    margin-right: -250px;
  }

  .footer__column-1 {
    margin-left: 250px;
  }

  .footer__column-3 {
    margin-right: 250px;
  }
}