.signup {
  text-decoration: none;
  color: #0065fc;
  font-weight: bold;
}

header div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  width: 110px;
}

.nav ul {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.nav ul li {
  width: 50%;
  display: flex;
  justify-content: center;
}

.nav ul li a {
  text-decoration: none;
  color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
}

.nav ul li a:focus {
  color: #0065fc;
  border-bottom: 3px solid #0065fc;
}

.bloc-1 {
  margin: 0 20px;
}

.introduction {
  display: flex;
  flex-direction: column;
}

.searchbar-container {
  display: flex;
  justify-content: space-between;
  height: 50px;
  border: 1px solid #f2f2f2;
  border-radius: 12px;
}

.searchbar-container div {
  width: 19%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.searchbar-container div:last-child {
  background-color: #0065fc !important;
}

.searchbar-container input {
  border: none;
  width: 62%;
  outline: none;
  font-size: 1.2em;
  padding: 0 10px;
}

.filter-container h2 {
  margin-top: 25px;
}

.filter-container .button-container {
  display: flex;
  flex-wrap: wrap;
}

.filter-container .button-container button {
  height: 50px;
  background: inherit;
  border: 2px solid #f2f2f2;
  border-radius: 30px;
  border-left-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 0;
}

.filter-container .button-container div:first-child {
  background-color: #deebff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.filter-container .button-container div:last-child {
  padding: 10px;
}

.information-container {
  display: flex;
  margin: 20px 0;
}

.information-container span {
  width: 20px;
  height: 20px;
  border: 1px solid #deebff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

.information-container p {
  margin: 0;
}

.bloc-2 {
  background-color: #f2f2f2;
}

.most-popular-container {
  margin: 20px;
  padding: 20px 0;
}

.most-popular-container .most-popular-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.most-popular-container .cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

.most-popular-container .cards-container .card {
  background-color: white;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 30px;
  width: 100%;
  height: 165px;
  padding: 6px;
  display: flex;
  align-items: center;
  margin: 8px 0;
}

.most-popular-container .cards-container .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.most-popular-container .cards-container .card .card-content {
  display: flex;
  height: 100%;
  border-radius: inherit;
}

.most-popular-container .cards-container .card .card-content div:first-child {
  width: 45%;
  object-fit: cover;
}

.most-popular-container .cards-container .card .card-content .image1 {
  content: url("../images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

.most-popular-container .cards-container .card .card-content .image2 {
  content: url("../images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

.most-popular-container .cards-container .card .card-content .image3 {
  content: url("../images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

.most-popular-container .cards-container .card .card-content .text {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 14px;
}

.most-popular-container .cards-container .card .card-content .stars {
  height: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 5px;
}

.most-popular-container .cards-container .card .card-content p {
  margin: 0;
}

.accommodations-container {
  margin: 20px;
  padding: 20px 0;
}

.accommodations-container .accommodations-header {
  margin-top: 10px;
}

.accommodations-container .cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

.accommodations-container .cards-container .card {
  background-color: white;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 30px;
  height: 210px;
  width: 100%;
  padding: 6px;
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.accommodations-container .cards-container .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.accommodations-container .cards-container .card .card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: inherit;
}

.accommodations-container .cards-container .card .card-content div:first-child {
  width: 100%;
  height: 55%;
  border-radius: inherit;
}

.accommodations-container .cards-container .card .card-content div img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.accommodations-container .cards-container .card .card-content .text {
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 14px;
}

.accommodations-container .cards-container .card .card-content .text h2 {
  margin-bottom: 7px;
}

.accommodations-container .cards-container .card .card-content .stars {
  height: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 5px;
}

.accommodations-container .cards-container .card .card-content p {
  margin: 0;
}

.bloc-3 button {
  background: inherit;
  border: none;
}

.activities-container {
  margin: 20px;
  padding: 20px 0;
}

.activities-container .activites-header {
  margin-top: 10px;
}

.activities-container .cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

.activities-container .cards-container .card {
  background-color: white;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 30px;
  height: 180px;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.activtiies-container .cards-container .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.activities-container .cards-container .card .card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: inherit;
}

.activities-container .cards-container .card .card-content div:first-child {
  width: 100%;
  height: 65%;
  border-radius: inherit;
}

.activities-container .cards-container .card .card-content div img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.activities-container .cards-container .card .card-content .text {
  width: 100%;
  height: 35%;
  margin-top: 10px;
  padding-left: 18px;
}

.footer-container {
  background-color: #f2f2f2;
}

.footer-container footer {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}

.footer-container div {
  margin: 10px 0;
}

.footer-container div ul {
  padding: 0;
  margin-top: 22px;
}

.footer-container div ul li {
  list-style-type: none;
  text-decoration: none;
  margin: 12px 0;
}

.footer-container div ul li a {
  text-decoration: none;
  color: black;
}

/* .accommodations-container .cards-container .card .card-content .text h2 {
  margin-bottom: 7px;
} */


/* ==========================================================================
 Media Queries
 ========================================================================== */

@media only screen and (min-width: 480px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 1140px) {}