/* METHODOLOGY BEM */

/* ========================================================================== 
LAYOUT / MARGIN / PADDING / BACKGROUND-COLOR
========================================================================== */
.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.f-column {
  display: flex;
  flex-direction: column;
}

.f-wrap {
  display: flex;
  flex-wrap: wrap;
}

.f-align-center {
  display: flex;
  align-items: center;
}

.m-t-b-20 {
  margin: 20px 0;
}

.m-t-25 {
  margin-top: 25px;
}

.m-t-15 {
  margin-top: 15px;
}

.p-20 {
  padding: 20px;
}

.p-l-r-20 {
  padding: 0 20px;
}

.p-l-15 {
  padding-left: 15px;
}

.background-g {
  background-color: #f2f2f2;
}

/* ========================================================================== 
HEADER
========================================================================== */
.header__logo {
  padding: 20px;
}

.header__logo img {
  width: 110px;
}

/* ========================================================================== 
NAV
========================================================================== */
.nav {
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.nav__btn {
  width: 100%;
  border: none;
  background-color: inherit;
  text-decoration: none;
  color: #0065fc;
  font-weight: bold;
  margin-top: 40px;
  text-align: end;
  padding-right: 20px;
}

.nav__list {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

.nav__elem {
  width: 50%;
  display: flex;
  justify-content: center;
}

.nav__link {
  text-decoration: none;
  color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
}

.nav__link--active {
  color: #0065fc;
  border-bottom: 3px solid #0065fc;
}

/* ========================================================================== 
INTRODUCTION
========================================================================== */
.introduction__title {
  margin-bottom: 0
}

/* ========================================================================== 
SEARCHBAR
========================================================================== */
.searchbar {
  display: flex;
  justify-content: space-between;
  height: 50px;
  border: 1px solid #f2f2f2;
  border-radius: 12px;
}

.searchbar__btn {
  background-color: #f2f2f2;
  width: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.searchbar__btn--grey {
  background-color: #f2f2f2;
  border-radius: 12px 0 0 12px;
}

.searchbar__btn--blue {
  background-color: #0065fc;
  border-radius: 12px;
}

.searchbar__text {
  display: none;
}

.searchbar__icon {
  font-size: 1.2em
}

.searchbar__icon--visibility {
  display: block;
  color: white
}

.searchbar__input {
  border: none;
  width: 62%;
  outline: none;
  font-size: 1.2em;
  padding: 0 10px;
}

/* ========================================================================== 
FILTER
========================================================================== */
.filter__btn {
  height: 50px;
  background: inherit;
  border: 2px solid #f2f2f2;
  border-radius: 30px;
  border-left-style: none;
  display: flex;
  align-items: center;
  margin: 0px 10px 10px 0px;
  padding: 0;
}

.filter__icon {
  background-color: #deebff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  font-size: 1.1em;
  color: #0065fc
}

.filter__text {
  padding: 10px;
}

/* ========================================================================== 
INFORMATION
========================================================================== */
.information {
  display: flex;
  margin: 20px 0;
}

.information__icon {
  width: 20px;
  height: 20px;
  border: 1px solid #deebff;
  border-radius: 50%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  font-size: 0.6em;
  color: #0065fc;
}

.information__text {
  margin: 0;
}

/* ========================================================================== 
CATEGORY
========================================================================== */
.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category__icon {
  font-size: 1.4em;
  color: black"

}

/* ========================================================================== 
CARD SMALL IMAGE
========================================================================== */
.card-sm-img {
  background-color: white;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 16px;
  height: 155px;
  padding: 6px;
  margin: 10px 0;
}

.card-sm-img:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-sm-img__link {
  color: inherit;
  text-decoration: none;
  height: 100%;
  border-radius: inherit;
}

.card-sm-img__content {
  display: flex;
  height: 100%;
  border-radius: inherit;
}

.card-sm-img__picture-container {
  width: 45%;
  border-radius: inherit;
}

.card-sm-img__picture {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

.card-sm-img__text {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 14px;
}

.card-sm-img__rating {
  height: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 5px;
}

.card-sm-img__star {
  font-size: 0.7em;
  color: #0065fc;
  margin: 1px;
}

.card-sm-img__paragraph {
  margin: 0;
}

/* ========================================================================== 
CARD LARGE IMAGE
========================================================================== */
.card-lg-img {
  height: 190px;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 16px;
  padding: 5px;
  margin: 20px 0;
}

.card-lg-img:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-lg-img__link {
  color: inherit;
  text-decoration: none;
  border-radius: inherit;
}

.card-lg-img__content {
  border-radius: inherit;
}

.card-lg-img__picture {
  object-fit: cover;
  height: 115px;
  width: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.card-lg-img__text-content {
  height: 75px;
  padding: 2px 15px;
  justify-content: space-around;
  align-items: flex-start;
}

.card-lg-img__title {
  margin: 1px;
}

.card-lg-img__paragrph {
  margin: 1px;
}

.card-lg-img__rating {
  display: flex;
  align-items: flex-end;
  margin-bottom: 5px;
}

.card-lg-img__star {
  font-size: 0.7em;
  color: #0065fc;
  margin: 1px;
}

.card-lg-img__paragraph {
  margin: 0;
}

.btn-scroll {
  font-size: 1.2em;
  font-weight: bold;
  background-color: inherit;
  border: none;
  padding: 0;
}

/* ========================================================================== 
CARD EXTRA LARGE IMAGE
========================================================================== */
.card-xl-img {
  height: 180px;
  margin: 12px 0;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  transition: 0.3s;
}

.card-xl-img:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-xl-img__link {
  color: inherit;
  text-decoration: none;
  border-radius: inherit;
}

.card-xl-img__content {
  height: 100%;
  border-radius: inherit;
}

.card-xl-img__picture-container {
  height: 125px;
  border-radius: inherit;
}

.card-xl-img__picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.card-xl-img__text-container {
  height: 55px;
}

.card-xl-img__title {
  font-size: 1em;
}

/* ========================================================================== 
FOOTER 
========================================================================== */
.footer__column-1,
.footer__column-2,
.footer__column-3 {
  margin: 10px 0;
}

.footer__list {
  padding: 0;
  margin-top: 22px;
}

.footer__elem {
  list-style-type: none;
  text-decoration: none;
  margin: 12px 0;
}

.footer__link {
  text-decoration: none;
  color: black;
}

/* ==========================================================================
Media Queries
========================================================================== */
@media only screen and (min-width: 768px) {
  section:nth-of-type(2) {
    padding: 0 20px;
  }

  /* ========================================================================== 
HEADER MEDIA QUERIES
========================================================================== */
  .header {
    display: flex;
    justify-content: space-between;
  }

  .header__logo {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .nav {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .nav__btn {
    width: auto;
    margin: 0;
  }

  .nav__link {
    width: auto;
    border-bottom: none;
  }

  .nav__link--active {
    border-bottom: none;
    border-top: 2px #0065fc solid;
    color: #0065fc;
  }

  .header__logo img {
    width: 80px;
  }

  /* ========================================================================== 
BLOC-1 MEDIA QUERIES
========================================================================== */

  .introduction__title {
    font-size: 1rem;
  }

  .introduction__text {
    font-size: 0.8rem;
  }

  .searchbar {
    height: 36px;
    width: 36%;
  }

  .searchbar__input {
    font-size: 0.8em;
  }

  .searchbar__btn--blue {
    width: auto;
    border-radius: 0 12px 12px 0;
  }

  .searchbar__icon {
    font-size: 0.8em !important;
  }

  .searchbar__icon--visibility {
    display: none;
  }

  .searchbar__text {
    display: block;
    color: white;
    padding: 0 5px;
    font-size: 0.8em;
  }

  .filter {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  .filter__title {
    margin: 0;
    font-size: 0.8em;
    margin-right: 10px;
  }

  .filter__btn {
    margin-bottom: 0;
    height: 36px;
  }

  .filter__icon {
    height: 36px;
    width: 36px;
    border-radius: 18px;
    font-size: 0.8em !important;
  }

  .filter__text {
    font-size: 0.8em;
  }

  .information {
    align-items: center;
  }

  .information__text {
    font-size: 0.8rem;
  }

  /* ========================================================================== 
BLOC-2-3 MEDIA QUERIES
========================================================================== */

  section:nth-of-type(2) {
    display: flex;
    flex-direction: row-reverse;
  }

  section:nth-of-type(2) section {
    background-color: #f2f2f2;
    width: 30%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .category {
    width: 100%;
  }

  .category__title {
    font-size: 1em;
  }

  .category__icon {
    font-size: 1em !important;
  }

  .card-sm-img {
    border-radius: 12px;
    height: 86px;
    padding: 2px;
  }

  .card-sm-img__title {
    font-size: 0.6rem;
  }

  .card-sm-img__paragraph {
    font-size: 0.5rem;
  }

  .card-sm-img__star {
    font-size: 0.5rem !important;
  }

  section:nth-of-type(2) section:last-child {
    background-color: #f2f2f2;
    width: 65%;
    display: flex;
    align-items: center;
    border-radius: 15px;
    margin-right: 22px;
  }

  /* ========================================================================== 
FOOTER MEDIA QUERIES
========================================================================== */

  .footer-container--margin {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 30px;
  }

  .footer-container .footer-container--margin .footer-container__about-section,
  .footer-container__our-accommodations,
  .footer-container__assistance-section {
    width: 32%;
  }

  .footer-container .footer-container--margin div h2 {
    font-size: 0.6em;
  }

  .footer-container .footer-container--margin div ul {
    font-size: 0.5em;
    margin-top: 10px;
  }

  .footer-container div div ul li {
    margin: 4px 0;
  }
}

@media only screen and (min-width: 1140px) {}